form.sdnet_freeform_form input[type=text],
form.sdnet_freeform_form input[type=email],
form.sdnet_freeform_form input[type=numer],
form.sdnet_freeform_form input[type=tel],
form.sdnet_freeform_form input[type=url],
form.sdnet_freeform_form textarea
{
    width: 100%;
    border-style: none;
    border-bottom: 1px solid lightgrey;
    background-color: #FFF0;
    padding: 0.25rem;
}

form.sdnet_freeform_form textarea {
    height: 10rem;
}

form.sdnet_freeform_form .g-recaptcha-container {
    text-align: center;
}

form.sdnet_freeform_form label {
    display: block;
    line-height: 1.2rem;
    margin-bottom: 0.75rem;
}

form.sdnet_freeform_form .g-recaptcha {
    display: inline-block;
}

form.sdnet_freeform_form input[type=submit],
form.sdnet_freeform_form button.recaptcha-load {
    display: inline-block;
    padding: 0.5rem 3rem;
}

form.sdnet_freeform_form button.recaptcha-load .small {
    font-size: 0.65rem;
}